<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>3D Model</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
    <div class="gridView">
      <img src="assets/icon/arbuilder.png"/>
      <p text-center>arbuilder</p>
    </div>

    <div class="gridView">
      <img src="assets/icon/arbuilder.png"/>
      <p text-center>arbuilder</p>
    </div>

    <div class="gridView">
      <img src="assets/icon/arbuilder.png"/>
      <p text-center>arbuilder</p>
    </div>

    <div class="gridView">
      <img src="assets/icon/arbuilder.png"/>
      <p text-center>arbuilder</p>
    </div>
  </div>
</ion-content>
