ion-item-divider,
ion-card-header {
    background: #EBF5F3
}

ion-card {
    background: #EBF5F3;
    margin-top: 2%;
    margin-right: 2%;
}

.input {
    background: #ffffff;
}

.ion-text-center{
    text-align: center;
    margin: 0 auto;
}