<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AR Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-card-header>
        <ion-card-title>AR Builder</ion-card-title>
      </ion-card-header>
    </ion-item-divider>
    <ion-card-content [formGroup]="loginForm">
      <ion-input [(ngModel)]="data.userName" formControlName="username" type="text" class="input" name="username"
        placeholder="Username"></ion-input>
      <br>
      <ion-input [(ngModel)]="data.password" formControlName="password" type="password" class="input" name="password"
        placeholder="Password"></ion-input>
      <br>
      <ion-row>
        <ion-col text-right>
          <ion-button class="login-button" [disabled]="!loginForm.valid" (click)="login()" color="primary" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
      <br>
      <ion-label>Don't Have Account? Sign Up here</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>