<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AR Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-card-header>
        <ion-card-title>AR Builder</ion-card-title>
      </ion-card-header>
    </ion-item-divider>
    <ion-card-content [formGroup]="loginForm">
      <ion-input [(ngModel)]="data.userName" formControlName="username" type="text" class="input" name="username"
        placeholder="Username"></ion-input>
      <br>
      <ion-input [(ngModel)]="data.password" formControlName="password" type="password" class="input" name="password"
        placeholder="Password"></ion-input>
      <br>
      <ion-row>
        <ion-col>
          <ion-button class="login-button" [disabled]="!loginForm.valid" (click)="login()" color="primary" type="submit" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label class="ion-text-center">Don't Have Account?</ion-label>
      </ion-row>
      <ion-button fill="clear" routerLink="/register" expand="block">Sign Up</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>