ion-item-divider, ion-card-header{
    background: #EBF5F3
}

ion-card{
    width:30%;
    background: #EBF5F3;
    margin-top: 2% ;
    margin-right:2%;
    float: right;
    
}

.input{
    background: #ffffff;
}

