<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="getPicture(1)" padding>Camera</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" (click)="getPicture(0)" padding>Gallery</ion-button>
      </ion-col>
    </ion-row>
    <ion-card *ngIf="imageData">
      <ion-card-content>
        <img [src]="imageData"/>
      </ion-card-content>
      <button ion-button slot="end" color="primary" (click)="upload()">Upload</button>
    </ion-card> -->
    <ion-row padding>
      <div *ngIf="file">
        <p>{{imgName}}</p>
        <img [src]="imgURL" height="200">
      </div>
      <form>
        <ion-button (click)="input.click()">Gallery</ion-button>
        <input style="display: none;" type='file' [(ngModel)]="file" name='file' (change)="onSelectedFile($event)" accept="image/*" #input capture="environment"/>
        
        <ion-button [disabled]="!file" color="primary" type="submit" (click)="upload()">Upload</ion-button>
      </form>
      
    </ion-row>
    
  </ion-grid>
</ion-content>
