<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>  
  <ion-row padding>
    <form>
      <div class="wrapper" text-center>
        <div class="gridView" *ngIf="!imgName">
          <img src="assets/icon/no_image.jpg"/>
        </div>
        
        <div class="gridView" *ngIf="imgURL">
          <!-- <p>{{imgName}}</p> -->
          <ion-item>
            <ion-label position="floating" class="whiteText">Image Name</ion-label>
            <ion-input type="text" class="whiteText" [(ngModel)]="pic_name" name="pic_name"></ion-input>
          </ion-item>
          <img [src]="imgURL" height="200">
        </div>
        <div class="gridView"*ngIf="takenImg">
          <!-- <p>{{imgName}}</p> -->
          <ion-item>
            <ion-label position="floating" class="whiteText">Image Name</ion-label>
            <ion-input type="text" class="whiteText" [(ngModel)]="pic_name" name="pic_name"></ion-input>
          </ion-item>
          <img [src]="takenImg" height="200">
        </div>
      </div>
      <ion-button (click)="input.click()">Gallery</ion-button>
      <input style="display: none;" type='file' name='file' (change)="onSelectedFile($event)" accept="image/*" #input/>
      <ion-button color="primary" (click)="takePicture(1)"><ion-icon name="camera"></ion-icon></ion-button>
      <br>
      <ion-button *ngIf="imgURL" [disabled]="!imgURL" color="primary" type="submit" (click)="upload()">Upload</ion-button>
      <ion-button *ngIf="takenImg" [disabled]="!takenImg" color="primary" type="submit" (click)="uploadImg()">Upload</ion-button>
    </form>
  </ion-row>
</ion-content>

