ion-item-divider,
ion-card-header {
    background: #EBF5F3
}

ion-card {
    // width:40%;
    background: #EBF5F3;
    // margin: 2% 30%;
}

// .input {
//     background: #ffffff;
// }

ion-item {
    margin-bottom: 0.5em;
}