<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AR Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-card-header>
        <ion-card-title>Registration Form</ion-card-title>
      </ion-card-header>
    </ion-item-divider>
    <ion-card-content>
        <ion-input type="text" class="input" name="username" placeholder="Username"></ion-input>
        <br>
        <ion-input type="text" class="input" name="name" placeholder="Full Name"></ion-input>
        <br>
        <ion-input type="password" class="input" name="pwd" placeholder="Password"></ion-input>
        <br>
        <ion-input type="password" class="input" name="cf_pwd" placeholder="Confirm Passwrd"></ion-input>
        <br>
        <ion-input type="email" class="input" name="email" placeholder="Email"></ion-input>
        <br>
        <ion-input type="tel" class="input" name="tel" placeholder="Contact No"></ion-input>
        <br>
        <ion-row>
          <ion-col text-right>
            <ion-button class="button" color="primary" type="submit">Submit</ion-button>
          </ion-col>
          <ion-col text-left>
            <ion-button class="button" color="primary" type="reset">Cancel</ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
